lib/test_images/Handin Exercise 2 (Template).pdf_files/ccl.css
lib/test_images/Handin Exercise 2 (Template).pdf_files/commonControlLibrary.min.js
lib/test_images/Handin Exercise 2 (Template).pdf_files/jquery-1.7.1.min.js
lib/test_images/Handin Exercise 2 (Template).pdf_files/jquery-ui-1.11.4.custom.min.js
lib/test_images/Handin Exercise 2 (Template).pdf_files/pdf.js
lib/test_images/Handin Exercise 2 (Template).pdf_files/pdf.viewer.js
lib/test_images/Handin Exercise 2 (Template).pdf_files/viewer.css
lib/test_images/Handin Exercise 2 (Template).pdf_files/assignment.min.js
lib/test_images/Handin Exercise 2 (Template).pdf_files/assignment.css
lib/test_images/Handin Exercise 2 (Template).pdf_files/1x1.png
lib/test_images/test_image.png
lib/test_images/Handin Exercise 2 (Template).pdf.html
lib/__pycache__/
data/*
blenderproc/data